.Button_main_comp{
    position: absolute;
    right:70px;
    padding:10px;
    margin-top:10px;
    /* margin-right: 20px; */
    border-radius: 7px;
    border:1px solid rgb(177, 170, 170)
}
.Button_main_comp>button{
  font-weight: bold;
  padding:10px;
  border:none;
  margin-right: 10px;
  border-radius: 7px;
}
.Button_main_comp>button:hover{
    cursor: pointer;
    background-color: azure;
}
@media screen and (max-width:800px) {
    .Button_main_comp{
        position: static;
        margin:auto;
        margin-top: 10px;
        width:250px
    }
}